<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lianxishougan.mapper.ArticleMapper">
    <select id="list" resultType="com.example.lianxishougan.pojo.Article">
        select * from article
        <where>
            <if test="categoryId != null">
                category_id = #{categoryId}
            </if>

            <choose>
                <when test="state != null">
                    and state = #{state}
                </when>
                <otherwise>
                    and (state = '待审批' or state = '草稿')
                </otherwise>
            </choose>

            and create_user = #{userId}
        </where>
        ORDER BY update_time DESC
    </select>

    <select id="listAllAdviceUser" resultType="com.example.lianxishougan.pojo.Article">
        select * from article
        <where>
            <if test="categoryId != null">
                category_id = #{categoryId}
            </if>

            <choose>
                <when test="state != null">
                    and state = #{state}
                </when>
                <otherwise>
                    and (state = '审批成功' or state = '审批失败')
                </otherwise>
            </choose>

            and create_user = #{userId}
        </where>
        ORDER BY update_time DESC
    </select>

</mapper>